
*{
    box-sizing: border-box; 
    margin: 0;
  }

  body {
    background: url('https://images5.alphacoders.com/964/964482.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    color: white;
    font-family: helvetica;
    height: 100vh;
  }

  nav{
    background-color: rgba(119, 136, 153, 0.212);
    width: 100%;
  }

  .menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
}

.menu .lista{
    display: inline-block;
}

.lista-r{
    float: right;
}

.lista a:hover{
    background-color: tomato;
}

main {
    text-align: center;
}
 
img{
    margin-top:10px;
    border-radius: 50% ;
    height: 150px;
    width: 150px;
    border: 10px solid white ;
}

p{
    font-size:22px;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    border:0;
    padding:10px;
    font-size:18px;
    margin: 5px;
    background-color: rgba(22, 66, 110, 0.6)
}


label{
    font-size:22px;
    font-weight: 600;
}

#textarea{
  border:0;
  font-size:18px;
  margin: 5px;
  background-color: rgba(22, 66, 110, 0.4);
  color: white;
}

button[type="submit"]{
    background: red;
    color:white;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
}

input::placeholder{
    color:white;
}

input:focus{
    outline: none;
    background-color: rgba(22, 66, 110, 0.9)
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container3 label{
    display: block;
}